<%= form_for(@venda) do |f| %>
  <% if @venda.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@venda.errors.count, "error") %> prohibited this venda from being saved:</h2>

      <ul>
      <% @venda.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :produto_id %><br>
    <%= f.number_field :produto_id %>
  </div>
  <div class="field">
    <%= f.label :cliente_id %><br>
    <%= f.number_field :cliente_id %>
  </div>
  <div class="field">
    <%= f.label :quantidade %><br>
    <%= f.number_field :quantidade %>
  </div>
  <div class="field">
    <%= f.label :valorVenda %><br>
    <%= f.text_field :valorVenda %>
  </div>
  <div class="field">
    <%= f.label :tipo_pgt %><br>
    <%= f.text_field :tipo_pgt %>
  </div>
  <div class="field">
    <%= f.label :num_cartao %><br>
    <%= f.text_field :num_cartao %>
  </div>
  <div class="field">
    <%= f.label :validade_cartao %><br>
    <%= f.text_field :validade_cartao %>
  </div>
  <div class="field">
    <%= f.label :codigo_cartao %><br>
    <%= f.text_field :codigo_cartao %>
  </div>
  <div class="field">
    <%= f.label :desconto %><br>
    <%= f.text_field :desconto %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
